<!DOCTYPE html>
  <html>
    <head>
      <title>Marble.com AngularMongo</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--Import materialize.css-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="style.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
      <script src="searchController.js"></script>
      <script src="script.js"></script>
      <script src="repeatController.js"></script>
      <script src="app.js"></script>  
      
    </head>

    <body ng-app="marbleApp">

      <nav style="background-color: #d56324!important">
        <div class="nav-wrapper">
          <form action="{{ search }}" method="GET">
            <div class="input-field">
              <input id="search" type="search" required placeholder="Search" ng-model="search">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      
      <div class="navbar-fixed" ng-controller='SearchCtrl'>
        <nav>
          <div class="nav-wrapper" id="gray">
            <ul class="hide-on-med-and-down" id="category-center">
              <li ng-repeat="category in categories"><a href="{{category.route}}">{{category.name}}</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <br>



    <div class="container">
     <div class="row">  
      

        <div class="col m3" ng-repeat="material in materials">
          <a href="/cosmicblack"><div class="card">
            <div class="card-image small">
                <img src="http://marble.com/uploads/materials/499/300X300/thumbnail/Cosmic-Black_APeruB9I056YsF3mZ0sT.jpg">
                <span class="card-title">{{ materials.name }}</span>
              </div>
            </div>
          </a>
        </div>

        
      </div>
    </div>


    




      <!--Import jQuery before materialize.js-->
          
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
      
    
    </body>
  </html>